@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton:wght@400;600&display=swap');



.rectext{
	padding-top:2rem;
}

.search{
	position: relative;
	text-align: center;
	right:0.5rem;
	padding-top: 9.3rem;
}

.search > h1{
	color: white;
	font-family: 'Monoton';
	
}


button{
	font-family: 'Monoton';
	transform: translate(-50%, -50%);
	width: 170px;
	height: 60px;
	line-height: 1;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	border: 3px solid #8C82FC;
	background: #fff;
	color: #8C82FC;
	border-radius: 40px !important;
	cursor: pointer;
	overflow: hidden;
	transition: all .35s;
  }
  
  button:hover{
	background: #8C82FC;
	color: #fff;
  }


#search{
    margin-left: 3%;
	background-color: #A2AFDE;
	border: none;
	padding: 15px 15px;
	width:100%;
}

#search::placeholder{
	color: #000;
}

#search:focus{
	border: none;
	outline: none;
}


.nrdy{
	display: block;
	font-family: 'Poppins';
	overflow-x: hidden;
	padding-top: 5%;
	padding-bottom: 11.5%;
	background: linear-gradient(0deg,rgb(99, 105, 209, 0.8), rgb(99, 105, 209, 0.8)), url("https://images.unsplash.com/photo-1595239094383-98b56bb82d17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uY2VydHxlbnwwfDB8MHx3aGl0ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
	background-size: cover;
}


.loading{
	display: none;
	overflow-x: hidden;
 	height: 500px;
	background: url("https://i.pinimg.com/originals/22/29/4f/22294f46273c381a20b9e3ce07fab4d2.gif") no-repeat center;
}

.loading > center > h5{
	padding-top: 30%;
}

  .column {
	float: left;
	width: 400px;
	padding: 0 10px;
  }
  
  
  #collab {
	  margin: 0 -5px;
	  background:#301b3f;
  }



  .row:after {
	content: "";
	display: table;
	clear: both;
  }

audio{
	width:100%;
}
#message{
	text-align:center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	color:black;
	text-align: center;
	background-color: white;
	height:500px;
	width:400px;
	font-family: Poppins;
  }

  footer{
	padding: 10px;
	text-align: center;
	background: #424242;
	color: white;
	letter-spacing: 0.5px;
	height: 50px;
}

  

  @media screen and (max-width: 600px) {
.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }

  #head{
	padding:40px;
    background: linear-gradient(0deg,rgb(99, 105, 209, 0.2), rgb(99, 105, 209, 0.2));
    background-size: cover;
  
}
#content > h4{
	margin-left: 35px;
	padding: 40px;
}
#result{
   width:90%;
   border: 1px solid #f1f1f1;
   table-layout:auto;
   margin-left:auto; 
   margin-right:auto;
        
}
 td,th{
	word-wrap: break-word;
	padding: 10px;
}
th{
	color:#424242 !important;
	font-size: 13px;
	padding: 20px;
	text-align: center;
}

tr:hover {
    background-color:#fafafa;
	color:rgb(99, 105, 209);
}

#cover{
	width: 100px;
	height: 150px;
}
#play{
	color: rgb(99, 105, 209);
	padding: 20px;
}
a{
	padding: 10px;
	text-decoration: none !important;
	color: black !important;
}
a:hover{
	color:rgb(99, 105, 209) !important;
} 



