<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>NRDY</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- CSS only -->
	<link rel="stylesheet" href="../static/index.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="nrdy">
		<form class="row mx-0 form" method="POST" action="/rec#content">
			<div class="col-md-1"></div>
			<div class="col-md-4"><img src="../static/nrdy2.png"></div>
			<div class="col-md-4 search">
				<input type="text" name="song" id="search" placeholder="Enter a Song..."><button class="searchb" type="submit"><i class="fa fa-search" style="font-size: 24px;" aria-hidden="true"></i></button>
			</div>
	  	</form>
	</div>
	<div class="loading"><center><h5>Loading Music...</h5></center></div>
	
		{% set count = namespace(value=0) %}
	<div class="content">
	
	<div class="row">
			
			{% for j in recommendations %}

		<div class="col-md-4 p-3">
		<div class="card">
				{% set count2 = namespace(value=0) %}
				{% for k in j %}
					{% if count2.value == 0 %}
					<div class="imgBx">
						<img src= {{k}} width="300px" height="300px">
					</div>
					{% endif %}	
					{% if count2.value == 1 %}
						<p>Name :{{k}}</p>
					{% endif %}
					{% if count2.value == 2 %}
						<p>Duration :{{k}}</p>
					{% endif %}
					{% if count2.value == 3 %}
						<p>Artist :{{k}}</p>
					{% endif %}
					{% if count2.value == 4 %}
						<audio controls="controls" src={{k}}>
							Your browser does not support the HTML5 Audio element.
						</audio>

					{% endif %}
				
					{% set count2.value = count2.value + 1 %}
			
				{% endfor %}
			</div>
			</div>
			 <!-- end Table row --> 	

			{% endfor %}
			
	</div>
	</div>
		<!-- end table here -->
		<p></p>
	

	<script>
		$('.searchb').click(function() {
    	$('.loading').toggle();
		$('.nrdy').toggle();
    		return true;	
		});
	</script>
</body>
</html>

